@import "./variables.scss";
.nav-paq {
  display: flex;
  justify-content: space-between;
  padding: 30px;

  .lado-dcho {
    display: flex;
  }

  .nav-link-paq {
    height: 22px; //altura
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;

    a {
      color: $SoftBlue;
      text-decoration: none;
      &:hover {
        color: $SoftMagenta;
      }
    }

    &:hover {
      border-bottom: 1px solid black;
    }
  }
}

