.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .portfolio-item-wrapper {
    position: relative;

    .portfolio-img-background {
      background-size: cover; // Completamente visible
      background-position: center;
      background-repeat: no-repeat;
      height: 350px; // alto
      width: 100%; // ancho
    }

    .img-text-wrapper {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: initial;
      align-items: center; // alineación elementos centrada
      height: 100%; // alto
      text-align: center;
      // padding-left: 100px;
      // padding-right: 100px;

      .subtitle {
        transition: 1s ease-in-out; // Salida y entrada gradual
        color: transparent;
      }
    }

    .img-text-wrapper:hover .subtitle {
      color: $SoftCyan;
      font-weight: 400;
    }


    .logo-wrapper img{
      width: 100%; // ancho
      height: 200%;
      position: cover;
      filter: opacity(0%);
    }
    .logo-wrapper:hover img{
      transition: 1s ease-in-out;
      filter: opacity(100%);
      height: 350px;
    }
  }
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}