// Triadic Color
$SoftCyan: #55eed7;// Descripción
$SoftBlue: #556cee;// No activo
$SoftRed: #ee556c;
$SoftYellow: #eed755;// Activo
$SoftMagenta: #d755ee;// Mouse over
$offwhite: #f6f6f6; // Very light gray (mostly white).

// Jordan
$teal: #26bfd4; //Strong cyan - $SoftCyan
$dark-teal: #207b88; // Dark cyan
$charcoal: #42454a; // Very dark grayish blue.
$blue: #008dff; // $SoftBlue
$warning: #922a2a; // Dark red
$grey: #8a8a8a; // Dark gray

// $Círculo: #006cb5; // Strong blue
// $Ratón: #000000; // negro
// $Logo: #556CEE; //Soft blue
