// Triadic Color
$SoftCyan: #55eed7;// Descripción
$SoftBlue: #556cee;// No activo
$SoftRed: #ee556c;
$SoftYellow: #eed755;// Activo
$SoftMagenta: #d755ee;// Mouse over
$offwhite: #f6f6f6; // fondo blanco
// Jordan
$teal: #26bfd4;
$dark-teal: #207b88;
$charcoal: #42454a;
$blue: #008dff;
$warning: #922a2a;
$grey: #8a8a8a;

// $Círculo: #006cb5; // Strong blue
// $Ratón: #000000; // negro
// $Logo: #556CEE; //Soft blue
