// Triadic Color
// Descripción
$SoftCyan: #55eed7;
// No activo
$SoftBlue: #556cee;

$SoftRed: #ee556c;
// Activo
$SoftYellow: #eed755;
// Mouse over
$SoftMagenta: #d755ee;

$teal: #26bfd4;
$dark-teal: #207b88;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
$grey: #8a8a8a;
// $Círculo: #006cb5; // Strong blue
// $Ratón: #000000; // negro
// $Logo: #556CEE; //Soft blue
